In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Introduction

https://github.com/rfordatascience/tidytuesday/blob/master/data/2021/2021-01-26/readme.md

|variable       |class     |description |
|:---|:---|:-----------|
|country        |character |Country of cleanup |
|year           |double    | Year (2019 or 2020) |
|parent_company |character | Source of plastic |
|empty          |double    | Category left empty count |
|hdpe           |double    | High density polyethylene count (Plastic milk containers, plastic bags, bottle caps, trash cans, oil cans, plastic lumber, toolboxes, supplement containers) |
|ldpe           |double    | Low density polyethylene count (Plastic bags, Ziploc bags, buckets, squeeze bottles, plastic tubes, chopping boards) |
|o              |double    | Category marked other count |
|pet            |double    | Polyester plastic count (Polyester fibers, soft drink bottles, food containers (also see plastic bottles) |
|pp             |double    | Polypropylene count (Flower pots, bumpers, car interior trim, industrial fibers, carry-out beverage cups, microwavable food containers, DVD keep cases) |
|ps             |double    | Polystyrene count (Toys, video cassettes, ashtrays, trunks, beverage/food coolers, beer cups, wine and champagne cups, carry-out food containers, Styrofoam) |
|pvc            |double    | PVC plastic count (Window frames, bottles for chemicals, flooring, plumbing pipes) |
|grand_total    |double    | Grand total count (all types of plastic) |
|num_events     |double    | Number of counting events |
|volunteers     |double    | Number of volunteers |

## Load data

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-01-26/plastics.csv')

In [3]:
df.head()

,country,year,parent_company,empty,hdpe,ldpe,o,pet,pp,ps,pvc,grand_total,num_events,volunteers
0,Argentina,2019,Grand Total,0.0,215.0,55.0,607.0,1376.0,281.0,116.0,18.0,2668.0,4,243.0
1,Argentina,2019,Unbranded,0.0,155.0,50.0,532.0,848.0,122.0,114.0,17.0,1838.0,4,243.0
2,Argentina,2019,The Coca-Cola Company,0.0,0.0,0.0,0.0,222.0,35.0,0.0,0.0,257.0,4,243.0
3,Argentina,2019,Secco,0.0,0.0,0.0,0.0,39.0,4.0,0.0,0.0,43.0,4,243.0
4,Argentina,2019,Doble Cola,0.0,0.0,0.0,0.0,38.0,0.0,0.0,0.0,38.0,4,243.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13380 entries, 0 to 13379
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         13380 non-null  object
 1   year            13380 non-null  int64
 2   parent_company  13329 non-null  object
 3   empty           10137 non-null  float64
 4   hdpe            11734 non-null  float64
 5   ldpe            11303 non-null  float64
 6   o               13113 non-null  float64
 7   pet             13166 non-null  float64
 8   pp              11884 non-null  float64
 9   ps              11408 non-null  float64
 10  pvc             9052 non-null   float64
 11  grand_total     13366 non-null  float64
 12  num_events      13380 non-null  int64
 13  volunteers      13273 non-null  float64
dtypes: float64(10), int64(2), object(2)
memory usage: 1.4+ MB